body{
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#menu{
    margin-top: 0px;
    padding-top: 0px;
    width: 127%;
    height: 80px;
}
#menu li{
    
    list-style: none;
    width: 10%;
    height: 80px;
    text-decoration: none;
    margin: 0px;
    line-height: 50px;
    text-align: center;
    float: left;
}
#menu li a{
    color: white;
    text-align: center;
    text-decoration: none;
}
#menu li:hover{
    border: 1px solid white;
    border-radius: 5px;

}
body h1{
    text-align: center;
}
.icon{
    height: 25px;
    width: 25px;
    border: 1px;
    border-radius: 25px;
}
#noticeboard{
    text-shadow: rgb(209, 25, 255);
    background-color: azure;
    -moz-text-decoration-color: darkorange;
    text-align: center;
}
.footer{
    background-color: whitesmoke;
    text-align: center;
}
.fa-duotone fa-school{
    font-size: medium;
}
#menu li a:hover{
    
  
}



