body{
    background-size: covervc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#menu{
    width: 127%;
    height: 80px;
    background-color: aqua;
}
#menu li{
    
    list-style: none;
    width: 120px;
    height: 80px;
    text-decoration: none;
    background-color: cyan;
    margin: 0px;
    line-height: 50px;
    text-align: center;
    float: left;
}
#menu li a{
    text-align: center;
    text-decoration: none;
}
#menu li:hover{
    background-color: greenyellow;

}
body h1{
    text-align: center;
}


